@font-face {
    font-family: "JetBrains Mono";
    src: url("../assets/fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

html {
    font-family: "JetBrains Mono", monospace;
    background-color: #42303e;
}

a {
    color: #ff9bba;
}

a:visited {
    color: #ff6b99;
}

#nav-pages {
    display: flex;
    float: right;
    gap: 10px;
}

body {
    color: white;
    align-content: center;
    width: 100%;
    max-width: min(1000px, 95vw);
    margin: 0 auto;
}
