@import "fonts/jetbrainsmono/jetbrainsmono.css";

* {
    font-family: "JetBrains Mono", monospace !important;
}

html {
    background-color: #42303e;
}

a {
    color: #ff9bba;
}

a:visited {
    color: #ff6b99;
}

footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: auto;
    padding-bottom: 2dvh;
}

#nav {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

#nav-pages {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 50vw;
}

.nav-link {
    color: #ffb3cb;
}

.nav-link:visited {
    color: #ffb3cb;
}

.project-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-block-start: 1em;
    margin-block-end: 1em;
    width: min(75vw, 750px, 100%);
}

.post-title {
    color: #ffcaf1;
}

.post-title > a:visited {
    color: #f57aa0;
}

.post-date {
    color: #eeceff;
}

.highlight {
    background-color: transparent !important;
}

body {
    color: white;
    width: 100%;
    max-width: min(1000px, 95vw);
    margin: 0 auto;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

summary {
    cursor: pointer;
}
